<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean class = "com.ritik.spring.springcore.innerBeans.Employee" name="employee" p:id="1">
	<property name="address">
		<bean class="com.ritik.spring.springcore.innerBeans.Address" p:hno="21" p:street="Hoshangabad" p:city="Bhopal"/>

	</property>
	
	</bean>
	</beans>